.footer-container{
    color: white;
    background-color: rgba(0, 0, 0, .3);
    text-align: center;
    width: 100%;;
    display: fixed;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    z-index: 1000;
}